@charset "utf-8";
@import "/src/responsive.scss";
$main-color: #ff3333;
@mixin box1{
    width: 80px;
    height: 40px;
    border-radius: 5px;
}

.edit-list {
  width: 1000px;
  margin: 0 auto;
  @include sp{
    width: 90%;
    margin-top: 12px;
  }

  .error-message {
    color: $main-color;
  }
  .edit-list-form {
    color: #555555;
    @include sp{
      margin-top: 30px;
    }

    .edit-list-title {
      width: 300px;
      margin-bottom: 25px;
      @include sp{
        font-size: 16px;
      }
    }
    .delete-list-button {
      color: $main-color;
      border: solid 1px $main-color;
      margin: 25px 5px;
      @include box1;
    }
    .edit-list-button {
      background-color: #242f9b;
      color: #ffffff;
      @include box1
    }
  }
}