@charset "utf-8";
@import "/src/responsive.scss";
$main-color:#ff3333;
@mixin box1(
  $width: 80px,
  $height: 40px,
  $bRadius: 5px) {
  width:$width;
  height:$height;
  border-radius:$bRadius;
}

.edit-task {
  width: 1000px;
  margin: 0 auto;
  @include sp{
    width: 90%;
    margin-top: 12px;
  }
  @include tab{
    width: 90%;
    margin-top: 30px;
    text-align: center;
  }
  
  .error-message {
    color: $main-color;
  }
  .edit-task-form {
    color: #555555;
    @include sp{
      margin-top: 30px;
    }
    @include tab{
      margin-top: 30px;
    }

    .edit-task-title{
      width: 300px;
      margin-bottom: 25px;
    }
    .edit-task-detail {
      @extend .edit-task-title;
      height: 80px;
      
    }
    .delete-task-button {
      color: $main-color;
      border: solid 1px $main-color;
      margin: 25px 5px;
      @include box1;  
    }
    .edit-task-button {
      background-color: #242f9b;
      color: #fff;
      @include box1;
    } 
  }
}