@import "/src/responsive.scss";
$max:100%;


.taskList {
  margin: 50px auto;
  list-style: none;
  width: 1000px;
  @include sp{
    width: 90%;
  }
  @include tab{
    width: 90%;
  }

  .error-message {
    color: #ff3333;
  }
  .list-header {
    display: flex;
    justify-content: space-between;
    @include sp{
      display: block;
      text-align: center;
    }
    @include tab{
      display: block;
      text-align: center;
    }
    

    .list-menu {
      text-align: right;
      @include sp{
        display: flex;
        width: 90%;
        margin: 10px auto;
        justify-content: space-between;
      }
    }
  }
  .list-tab {
    list-style: none;
    display: flex;
    overflow-x: auto;
    @include sp{
      margin: 10px;
    }

    .list-tab-item {
      flex-shrink: 0;
      width: 100px;
      padding: 0 25px;
      text-overflow: normal;
      margin-right: 5px;
      border: solid 1px #242f9b;
      justify-content: center;
      align-items: center;  
      @include sp{
        padding: 10px;
        font-size: 14px;
      }
    }
    .active {
      background-color: #242f9b;
      color: #ffffff;
    }
  }
  .tasks {
    margin-top: 40px;

    .tasks-header {
      display: flex;
      justify-content: space-between;
      @include sp{
        display: block;
        text-align: center;
      }
      @include tab{
        display: block;
        text-align: center;
      }
    }
    .display-select-wrapper {
      margin: 0 0 25px auto;
      @include sp{
        display: flex;
        width: 90%;
        justify-content: space-between;
      }
      @include tab{
        text-align: right;
      }
      .display-select {
        width: 100px;
        @include sp{
          height: 30px;
          border-radius: 5px;
        }  
      }
    }
    .task-item {
      list-style-type: none;
      height: $max;
      width: calc($max - 25px);
      background-color: #f5f5f5;
      padding-left: 25px;
      font-size: large;
      border: solid 1px #ffffff;
      margin-bottom: 10px;
      @include sp{
        font-size: 14px;
      }

      .task-item-link {
        display: block;
        width: $max;
        height: $max;
        text-decoration: none;
        color: #000000;

        p{
          @include sp{
            font-size: 12px;
          }
        }
      }
    }
  }
}
