@charset "utf-8";
@import "home.scss";

.new-list {
  width: 1000px;
  margin: 0 auto;
  @include sp{
    width: 90%;
    margin-top: 12px;
  }
  @include tab{
    width: 90%;
    margin-top: 30px;
    text-align: center;
  }

  .new-list-form {
    color: #555555;
    @include sp{
      margin-top: 30px;
    }
    @include tab{
      margin-top: 30px;
    }

    .new-list-title {
    width: 300px;
    margin-bottom: 25px;
    @include sp{
      font-size: 16px;
    }
    @include tab{
      padding: 8px;
      font-size: 16px;
    }
    }
    .new-list-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    }
  }
}