@charset "utf-8";
@import "/src/responsive.scss";

.new-task {
  width: 1000px;
  margin: 0 auto;
  @include sp{
    width: 90%;
    margin-top: 12px;
  }

  .error-message {
    color: #ff3333;
  }
  .new-task-form {
    color: #555555;
    @include sp{
      margin-top: 30px;
    }
    
    .new-task-select-list{
      width: 300px;
      margin-bottom: 25px;
    }
    .new-task-title{
      @extend .new-task-select-list;
    }
    .new-task-detail {
      @extend .new-task-select-list;
      height: 200px;
    }
    .new-task-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
      margin-top: 20px;
    }
  }
}