@charset "utf-8";
@import "/src/responsive.scss";

.signup {
  width: 500px;
  margin: 0 auto;
  @include sp{
    width: 90%;
    margin-top: 12px;
  }
  @include tab{
    margin-top: 30px;
  }

  .error-message {
    color: #ff3333;
}
  .signup-form {
    margin: 25px 0;
    color: #555555;
    @include sp{
      text-align: center;     
    }

    .email-input{
      width: 100%;
      font-size: large;
      height: 30px;
      margin-bottom: 25px;
      @include sp{
        width: 90%;
        font-size: 14px;
      }
    }
    .name-input{
      @extend .email-input;
    }
    .password-input {
      @extend .email-input;
    }
    .signup-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
    }
  }
}