@charset "utf-8";
@import "/src/responsive.scss";

.signin {
  width: 500px;
  margin: 0 auto;
  @include sp{
    width: 90%;
    margin-top: 12px;
  }

  .error-message {
    color: #ff3333;
  }
  .signin-form {
    margin: 25px 0;
    @include sp{
      text-align: center;
    }

    .email-label{
      color: #555555;
    }
    .email-input{
      width: 100%;
      font-size: large;
      height: 30px;
      margin-bottom: 25px;
      @include sp{
        width: 90%;
        font-size: 14px
      }
    }
    .password-label {
      @extend .email-label;
    }
    .password-input {
      @extend .email-input;
    }
    .signin-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
    }
  }
}